*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* CONTAINER */
   
.mini-logo-container{
    padding: 10px 0px;
}

.text-container{
    max-width: 50%;
}

.left-text-container{
    max-width: 50%;
    margin: auto 0 auto auto;
}

.container{
   display: flex;
   margin: 0 auto; 
}


/* FOOTER */

.footer-list-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-content{
    display: flex;
    height: 50px;
    max-width: 500px;
    padding: 5px;
}

/* CLASSIC SECTION ROW */

.row-sm-padding{
    padding: 30px;

}

.row-padding{
    padding: 100px 0px;
}

.row{
    width: 100%;
   align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;
}


/* IMAGES */

.mini-logo-ref{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}

.logo-ita{
    width: 30px;
    height: 20px;
}

.star{
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;    
}

.left-img-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

/* BANNER */

.banner-row{
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }
 
 .banner-container{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 }


/* POSITIONING */

.justify-start{
    justify-content: start;
}

.f-wrap{
    flex-wrap: wrap;
}

.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.align-top{
    align-self: first baseline;
    margin-top: 10px;
}

.align-end{
    align-self: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-end{
   justify-content: flex-end;
}

.justify-start{
    justify-content: flex-start;

}

.align-center{
    align-items: center;
}

.logo{
    text-align: center;
}

.padding-left-right{
    padding: 0 15px;
}

.padding-bot{
    padding-bottom: 30px;
}

.padding-10{
    padding: 10px;
}

.general-padding{
    padding: 15px;
}

.word-spacing{
   word-spacing: 10px;
}

.title-padding{
    padding: 10px 0px;
}

/* BORDI */

/* *{
    border: 1px dashed red;
} */

/* TENDINA LINGUE */

.tendina-lingue{
    background-color: transparent; 
    border: 0;
    color: white;
    background-color: rgb(36, 34, 34);
    text-align: center;
}


/* FONTS AND CUSTOMIZATION */

.white-font{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.black-font{
    color: rgb(36, 34, 34);
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0;
}

.black-font-title-sm{
    color: rgb(36, 34, 34);
    font-size: 30px;
    padding: 10px 0;
}

.white-font-title{
    color: white;
    font-weight: 700;
    font-size: 50px;
}

.black-font-title{
    color: rgb(36, 34, 34);
    font-size: 40px;
    padding: 10px 0;
}

.blue-font-title{
    color: rgb(42, 94, 232);
    font-size: 40px;
    padding: 10px 0;
}

.button-style{
    border: 0;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.p-style{
   line-height: 1.5;
}

/* LIST SETTINGS */

a{
    text-decoration: none;
    color: white;
}

ul{
    color: rgb(42, 94, 232);
    list-style-type: none;
    font-weight: 500;
    padding: 30px 40px;
}

li{
    color: white;
    font-weight: 500;
    padding: 7px 0px;
}

/* COLORS */

.bg-lightgray{
    background-color: rgb(240, 240, 240);
}

.lightgray{
    color: lightgray;
}

.bg-black{
    background-color: rgb(36, 34, 34);
}

.bg-button-black{
    background-color: rgb(36, 34, 34);
}

.bg-white{
    background-color: white;
}

.white{
    color: white;
}

.bg-blue{
    background-color: rgb(42, 94, 232);
}

.blue{
    color: rgb(42, 94, 232);
}

.bg-lightblue{
    background-color: lightblue;
}


/* COLUMN */

.col-20{
    width: calc(20%);
}

.col-70{
    width: calc(70%);
  }

.col-60{
  width: calc(60%);
}

.col-40{
    width: calc(40%);
}

.col-50{
    width: calc(50%);
}

.col-30{
    width: calc(30%);
}

.col-15{
    width: calc(15%);
}

.col-100{
   width: 100%;
}
