*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* CONTAINER */
   
.text-container{
    max-width: 50%;
}

.left-text-container{
    max-width: 50%;
    justify-content: flex-end;
}

.container{
   margin: 0 auto; 
}

/* ROW AND CONTENT */
 
/* FOOTER */

.footer-list-row{
    display: flex;
    height: 440px;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-row{
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer-content{
    display: flex;
    height: 50px;
    max-width: 500px;
    padding: 5px;
}

/* HEADER */

.header-row{
    display: flex;
    height: 75px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.header-content{
    display: flex;
    padding: 10px;
    max-width: 600px;
    justify-content: center;
    
}
 
/* CLASSIC SECTION ROW */

.row-padding{
    padding: 100px 0px;
}

.row{
    width: 100%;
   align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.content{
    
}

/* IMAGES */

.left-img-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.right-img-container{
    
  }

/* BIGGER SECTION */

.bigger-row{
    display: flex;
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: center;
}

.big-content{
    height: 700px;
    max-width: 1000px;
}

/* BANNER */

.banner-row{
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }
 
 .banner-container{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 }

.banner-content{
    text-align: center;
}


/* POSITIONING */

.text-end{
    flex-direction: row-reverse;
}

.align-top{
    align-self: first baseline;
    margin-top: 10px;
}

.align-end{
    align-self: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-end{
   justify-content: flex-end;
}

.justify-start{
    justify-content: flex-start;

}

.align-center{
    align-items: center;
}

.logo{
    text-align: center;
}


/* BORDI */
/* 
*{
    border: 1px dashed red;
} */

/* FONTS AND CUSTOMIZATION */

.white-font{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.black-font{
    color: rgb(36, 34, 34);
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0;
}

.white-font-title{
    color: white;
    font-weight: 700;
    font-size: 50px;
}

.black-font-title{
    color: rgb(36, 34, 34);
    font-size: 40px;
    padding: 10px 0;
}

.button-style{
    border: 0;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.p-style{
   line-height: 1.5;
}

.padding-left-right{
    padding: 0 15px;
}

.general-text-padding{
    padding: 15px;
}

.word-spacing{
   word-spacing: 10px;
}

.title-padding{
    padding: 10px 0px;
}

/* COLORS */

.bg-lightgray{
    background-color: rgb(240, 240, 240);
}

.lightgray{
    color: lightgray;
}

.bg-black{
    background-color: black;
}

.bg-button-black{
    background-color: rgb(36, 34, 34);
}

.bg-white{
    background-color: white;
}

.white{
    color: white;
}

.bg-blue{
    background-color: rgb(42, 94, 232);
}

.bg-lightblue{
    background-color: lightblue;
}

/* .bg-pink{
    background-color: pink;
}

.bg-azzurro{
    background-color: rgb(0, 110, 255);
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
} */ */

/* COLUMN */

.col-20{
    width: calc(20%);
}

.col-70{
    width: calc(70%);
  }

.col-60{
  width: calc(60%);
}

.col-40{
    width: calc(40%);
}

.col-50{
    width: calc(50%);
}

.col-15{
    width: calc(15%);
}

.col-100{
   width: 100%;
}
